/* Calendar.module.css */

.calendarContainer {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    height: 600px; 
  }
 
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 25rem;
    max-width: 500px;
  }
  
  .closeButton {
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .inputField {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .header {
    color: #333;
  }
  
  .rbc-month-row {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 0 0;
    flex-basis: 50%px;
    overflow: hidden;
    height: 100%;
  }
  
  .AlertUpdateContainer {
    text-align: center;
    padding: 10px;
  }
  

  /* Button Styles */
  .btn1 {
    /* color: var(--color-secondary); */
    background-color: white;
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .btn2 {
    /* color: var(--color-primary); */
    background-color: white;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btn3 {
    /* color: var(--color-primary); */
    font-size: 1.1rem;
    font-weight: 700;
    background-color: white;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .btn {
    background-color: white;
    color: var(--color-primary);
    padding: 5px 12px;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--color-fourth);
    color: var(--color-primary);
  }
  

  
  /* .btnOpenEvent {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  } */

  
  
  /* Task visible form css */
  .visibleForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    max-width: 100%;
    margin: auto;
  }
/*   
  .TasksVisibleContainer {
    display: flex;
    flex-direction: column;
  }
   */
  .TasksVisibleTitle {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .TasksVisibleInput {
    width: calc(100% - 10px); 
    /* margin-bottom: 0.4rem; */
    /* padding: 0.2rem; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .TimeContainer {
    display: flex;
    flex-direction: column;
  }


  .BtnContainerUpDateTask,
  .BtnContainerUpdateHearing{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7rem;
    gap: 1rem;
    position: relative;
    bottom: 4.8rem;
    justify-content: center;
  }

  .BtnContainerTask{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7rem;
    gap: 1rem;
    position: relative;
    bottom: 4.8rem;
    justify-content: center;
  }

  
  
  /* css for hearing */
.HearingVisibleForm {
  /* Add styles for the form container if needed */
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.formGroup {
  flex: 1;
  margin-right: 10px;
}

.formGroup:last-child {
  margin-right: 0;
}

/* .TasksVisibleTitle,
.HearingVisibleFormTitle {
  display: block;
  margin-bottom: 50px;
  font-weight: bold;
  color: #333;
} */

.TasksVisibleInput,
.HearingVisibleFormInput,
.HearingVisibleFormDate,
.HearingVisibleFormTime {
  width: 100%;
  /* padding: 4px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.BtnContainerHearing{
  display: flex;
  /* flex-direction: row-reverse; */
  margin-top: 6.8rem;
  gap: 1rem;
  position: relative;
  bottom: 4.8rem;
  justify-content: center;
}



.btn {
  background-color: #007bff; /* Example: blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  
  /* appointment css */

  .AppointmentVisibleForm {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
    max-width: 100%; 
    margin: auto; */
  }

 
  .AppointmentFormTitle {
    margin-bottom: 0px;
    font-size: 4px;
  }
  
  .AppointmentVisibleFormInput,
  .AppointmentVisibleFormTime,
  .AppointmentVisibleFormDate {
    width: 100%; 
    margin-bottom: 20px;
  }

  
  .AppointmentVisibleFormInput {
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .AppointmentVisibleFormTime {
    margin-right: 0; 
  }
  
  /* Convert h6 to label */
  .AppointmentVisibleForm label {
    margin-bottom: 0px;
    font-size: 14px;
    display: block;
  }

  .BtnContainer{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 6.56rem;
    gap: 1rem;
    position: relative;
    bottom: 4.8rem;
    justify-content: center;
  }
  .BtnContainerUpdateAppointment{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7rem;
    gap: 1rem;
    position: relative;
    bottom: 4.8rem;
    justify-content: center;
  }
  
  /* Update clickedEvent */
  .btnContainerclickedEvent{
    padding-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
