/* Container for all notifications */
.notificationsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  /* background-color: #1f1f1f; */
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);  
  color: #c5c6c7; /* Light text color for contrast */
  height: 100%;
}


/* .settingIconContainer {
  position: absolute;
  top: 1rem; 
  right: 1rem;
  font-size: 1.4rem;  
}
.setting{
  color: var(--color-fourth);
} */


.settingIconContainer {
  color: var(--color-third);
  position: absolute;
  top: 3rem; 
  right: 1rem;
  font-size: 1.4rem; 
}


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .settingIconContainer .SettingIcon:hover {
  animation: rotateAnimation 1s linear;
} */

.Heading{
  font: 100;
  font-size: 1rem;
  color: var(--color-third);
}

.dropdownMenu {
  background: transparent;
  position: absolute;
  width: 21rem;
  top: -2.5rem;
  right: 0rem;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 4px;
}

.dropdownMenu.active {
  opacity: 1; /* Fully visible when active */
  transform: translateY(0); /* Final position */
  visibility: visible; /* Make the dropdown visible when active */
}

.dropdownMenu label {
  color: var(--color-third);
  display: block;
  margin-bottom: 5px;
}

.dropdownMenu input[type="radio"] {
  margin-right: 5px;
}


.tasksProxiesContainer {
  display: flex;
  justify-content: space-between;
}

.tasksSection,
.proxiesSection {
  flex: 1; /* Each section takes equal width */
  margin-right: 10px; /* Add some space between the sections */
}

.proxiesSection {
  margin-right: 0; /* Remove margin for the last section */
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-primary); 
}

/* Individual notification item styling */
.notificationItem {
  background-color: #0b0c10; 
  position: relative;
  width: 600px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 4px solid var(--color-secondary); /* Bright border for active element */
}

/* .notificationItem:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
} */

/* Styling for read and unread notifications */
.notificationTextRead, .notificationTextUnread {
  color: #c5c6c7; /* Light text color for readability */
}

.notificationTextUnread {
  font-weight: bold;
}

/* Dropdown toggle button styling */
.dropdownToggle {
  cursor: pointer;
  font-size: 24px;
  color: var(--color-secondary); 
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
}

.dropdownToggle:hover {
  transform: rotate(90deg); /* Rotate 90 degrees on hover */
}

/* Dropdown menu styling */

/* @keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: scale(0.95) rotateX(-10deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
  }
} */


/* .dropdownMenuVisible {
  visibility: visible;
} */

/* Menu Items */
.MenuItem {
  padding: 8px 15px;
  color: #c5c6c7;
  font-size: 14px;
  cursor: pointer;
  background-color: #0b0c10;
  border-radius: 4px;
  margin-bottom: 5px;
}

.MenuItem:hover {
  background-color: #45a29e;
  color: #0b0c10;
}
