/* Container for all notifications */
.notificationsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  /* background-color: #1f1f1f; */
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);  
  color: #c5c6c7; /* Light text color for contrast */
  height: 100%;
}


.notificationItemRead {
  color: red; /* Example: grey color indicating read */
}

.markAllReadButtonContainer {
  /* display: flex; */
  margin: 10px 0;
}

.markAllReadButton {
  padding: 8px 15px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.markAllReadButton:hover {
  background-color: #45a049; /* Darker green on hover */
}


.settingIconContainer {
  position: absolute;
  top: 3rem; 
  right: 1rem;
  font-size: 2rem; 
}

.IconContainer{
  color: var(--color-fourth);
}


.Heading{
  font: 100;
  font-size: 1rem;
  color: var(--color-third);
}

.dropdownMenu {
  background: transparent;
  position: absolute;
  /* width: 21rem; */
  top: -2.5rem;
  right: 0rem;
  /* background-color: var(--color-primary); */
  color: white;
  /* border: 1px solid #ddd; */
  /* border-radius: 1rem; */
  padding: 4px;
}

.dropdownMenu.active {
  opacity: 1; /* Fully visible when active */
  transform: translateY(0); /* Final position */
  visibility: visible; /* Make the dropdown visible when active */
}

.dropdownMenu label {
  color: var(--color-third);
  display: block;
  margin-bottom: 5px;
}

.dropdownMenu input[type="radio"] {
  margin-right: 5px;
}


.tasksProxiesContainer {
  display: flex;
  justify-content: space-between;
}

.tasksSection,
.proxiesSection {
  flex: 1; /* Each section takes equal width */
  margin-right: 10px; /* Add some space between the sections */
}

.proxiesSection {
  margin-right: 0; /* Remove margin for the last section */
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-primary); 
}

.IconContainer{
  position: absolute;
  color: var(--color-third);
  right: 1rem;
  top:0.5rem;
  margin-left: 1rem;
  font-size: 2rem;
}

/* Individual notification item styling */
.notificationItem {
  background-color: #0b0c10; 
  position: relative;
  width: 600px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 4px solid var(--color-secondary); /* Bright border for active element */
}


/* Styling for read and unread notifications */
.notificationTextRead, .notificationTextUnread {
  color: #c5c6c7; /* Light text color for readability */
}

.notificationTextUnread {
  font-weight: bold;
}

/* Dropdown toggle button styling */
.dropdownToggle {
  cursor: pointer;
  font-size: 24px;
  color: var(--color-secondary); 
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
}

.dropdownToggle:hover {
  transform: rotate(90deg); /* Rotate 90 degrees on hover */
}


/* Menu Items */
.MenuItem {
  padding: 8px 15px;
  color: #c5c6c7;
  font-size: 14px;
  cursor: pointer;
  background-color: #0b0c10;
  border-radius: 4px;
  margin-bottom: 5px;
}

.MenuItem:hover {
  background-color: #45a29e;
  color: #0b0c10;
}
