/* Adapted CSS based on ClientForm.module.css */

.container {
  /* padding: 20px; */
  padding-top: 35px;
  margin: 0 auto;
  max-width: 94.5%;
  background-color: #f9f9f9; 
  /* box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  height: auto; /* Adjusted from 100vh to auto for dynamic height */
  height: 100vh;
  background-color: transparent;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  /* font-size: 24px;  */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  /* background-color: #fff; Optional: Add if you prefer a white table background */
}

.th {
  background-color: var(--color-fourth);
  color: white;
  text-align: left;
  padding: 10px; /* Adjusted padding */
  font-size: 16px;
  /* border-bottom: 1px solid #ddd; Optional: Add if you prefer a border */
}

.tr {
  &:nth-child(even) {
      background-color: #f2f2f2;
  }

  &:hover {
      /* background-color: var(--color); */
  }
}

.trs {
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

/* Hover effect for rows */
.trs:hover {
  transform: scale(1.03);
}

.td {
  padding: 10px; /* Adjusted padding */
  text-align: left;
  /* border-bottom: 1px solid #ddd;  */
  color: white;
}

/* Responsive table styles */
@media screen and (max-width: 768px) {
  .table, .th, .td {
      display: block;
  }

  .th {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  .td {
      border: none;
      position: relative;
      padding-left: 10%;
      min-height: 140px;
      display: flex;
      align-items: center;

      &:before {
          content: attr(data-label);
          position: absolute;
          left: 15px;
          width: 50%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
      }
  }
}


.btn {
  background-color: var(--primary-color); /* Replace with your primary color variable */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;

  /* Add a slight shadow for depth (optional) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* Hover effect */
  &:hover {
    /* background-color: var(--hover-color);  */
  }

  /* Active/Focus state */
  &:active, &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* This is an example, adjust as needed */
  }

  /* Add a margin if necessary */
  margin-right: 10px; /* Adjust or remove based on your layout */
}
