.contactFormContainer {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 320px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .formGroup {
    text-align: left;
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
.input{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submitButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  