*,*::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* black blue and grey need to try this color */
:root {
    --color-primary: rgb(215, 211, 211); /* Frost White */
    --color-secondary: #488AC7; /* Twilight Purple */
    --color-third: #CCFF00; /* Laser Lime */
    --color-fourth: #466c93; /* Galactic Grey */
    --color-fifth: #fff; /* Pure White */
    --color-accent1: #87CEEB; /* Sky Blue */
    --color-accent2: #FFA500; /* Digital Orange */
    --bg-primary: #00020D; /* Cosmic Black */
    --bg-secondary: #C0C0C0; /* Starlight Silver */
    --bg-accent: #004E64; /* Neptune Teal */
    --color-danger: rgb(232, 85, 85); /* Danger Color */
    --color-dark-blue: #003366; /* Dark Blue */

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --transition: all 500ms ease;
}

body {
        /* background: linear-gradient(135deg, var(--color-accent1), var(--color-accent2)); */
        background: linear-gradient(135deg, var(--color-fifth), var(--bg-secondary));

    color: #000000; /* Frost White */
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}
