*,*::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* black blue and grey need to try this color */
:root{
    /* --color-primary: #924a4a; */
    /* --color-fourth: rgb(255, 244, 244); */
    /* --color-primary: #4db5ff; */
    --color-primary: darkblue;
    --color-secondary: #171A1FFF;
    --color-Third: rgb(180, 180, 180);
    --color-fourth: #c3dfea;
    
    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}

/* Genrel style */
body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #2b6cb0; */
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}
