*,*::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* black blue and grey need to try this color */
:root {
    --color-primary: #000000; /* Frost White */
    --color-secondary: #6A0DAD; /* Twilight Purple */
    --color-third: #CCFF00; /* Laser Lime */
    --color-fourth: #5F6A7D; /* Galactic Grey */
    --color-fifth: #fff;
    --color-accent1: #87CEEB; /* Sky Blue */
    --color-accent2: #FFA500; /* Digital Orange */
    --bg-primary: #00020D; /* Cosmic Black */
    --bg-secondary: #C0C0C0; /* Starlight Silver */
    --bg-accent: #004E64; /* Neptune Teal */

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --transition: all 500ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, var(--bg-primary), var(--bg-secondary), var(--bg-accent));
}

.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}
