/* footer.module.css */

.MainContainer {
    background-color: #f2f2f2; /* light grey background */
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .LogoContainer {
    margin-bottom: 20px;
  }
  
  .logo {
    text-decoration: none;
    color: #333; /* dark text color for contrast */
    font-size: 24px; /* larger font size for visibility */
    height: 1.5rem;
  }
  .logo1{
    display: flex;
    height: 14rem;
    position: absolute;
  }
  
  .FooterCopyContainer {
    margin-bottom: 20px;
  }
  
  .footerCopy {
    color: #666; /* medium grey for less emphasis */
    font-size: 14px;
  }
  
  .footerSocial a {
    margin: 0 10px;
    color: #333; 
    font-size: 24px;
  }
  
  .LinkedIn:hover, .FaceBook:hover, .InstaGram:hover, .YouTuber:hover {
    color: #0056b3; /* change color on hover for visual feedback */
  }
  
  /* Additional responsive design considerations can be added as needed */
  