footer {
    background-color: var(--color-secondary);
    margin-top: 7rem;
    /* padding: 1rem; */
    /* font-size: 0.9rem; */
    color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: nowrap; 
}

/* Adjust the logo image */
.logo img {
    height: 8rem; /* Adjust size as needed */
}

/* Footer text and logo container */
.footerCopyright {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between items */
}
.footerCopy{
    color: var(--color-fifth);
}

/* Footer social icons */
.footerSocial {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footerSocial a {
    background-color: var(--color-secondary);
    padding: 0.5rem;
    border: 1px solid var(--color-fourth);
    border-radius: 0.5rem;
    transition: var(--transition);
}

.footerSocial a svg {
    color: var(--color-fourth);
}

.footerSocial a:hover {
    border-color: var(--color-primary);
    background: transparent;
}

/* Adjust for very small screens */
@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .footerSocial {
        justify-content: center;
    }
}
